.button-plus{
  position: absolute;
  z-index: 2;
  background: rgba(243, 165, 0, 1);
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 40px;
}
.button-plus,.button-minus{
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  color: #fff;
}
.button-plus:focus,.button-minus:active{
  box-shadow: 0 0 2px 3px rgba(72,170,230,0.72);
}
.button-plus_right{
  top: 55px;
  right: -0px;
}
.button-plus_bottom{
  left: 55px;
}
.button-minus:hover,.button-plus:hover{
  transition: all ease .3s;
  opacity: 0.7;
}
.button-minus{
  display: flex;
  visibility: hidden;
  opacity: 0;
  justify-content: center;
  position: absolute;
  z-index: 2;
  background: rgba(178, 0, 0, 1);
  font-weight: 400;
  font-size: 37px;
  transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
  span{
    height: 50px;
  }
}
.button-minus_top{
  top: -50px;
  left: 5px;
}
.button-minus_left{
  top: 5px;
  left: -50px;
}
.button-minus_animation-display{
  visibility: visible;
  opacity: 1;
  transition: opacity .4s ease-in-out, visibility 0s ease-in-out ,top .4s linear,left .4s linear;
}