.wrapper{
  border: 1px solid #48aae6;
  .table {
    border-spacing: 2px;
    border-collapse: separate;
    tbody {
      tr {
        td {
          background: #48aae6;
        }
      }
    }
  }
}
